doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Jade
    // Bootstrap
    link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='favicon.ico', rel='stylesheet')
   
  |   
body
    h1.jumbotron Hello, world!
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(type='text/javascript', src="/vendor/jquery/dist/jquery.js")
    // Include all compiled plugins (below), or include individual files as needed
    script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.js')
